{% extends "index.html" %}

{% block content %}
<div class= "containter mt-2 text-center">
        <h1 class= "display-4" id="boggle">Boggle!</h1>
    <div id= "game" class= "mt-3 d-block text-center">
        {% for row in board %}
            <div class= "d-inline-block">
                {% for letter in row %}
                    <div class= "letter p-2 my-2 mr-2 d-flex justify-content-center align-items-center">{{letter}}</div>
                {% endfor %}
            </div>
        {% endfor %}
        
        <h4> Time: <span id="timer">60</span></h4>
        <h5> Highscore: <b>{{ highscore }}</b></h5>
        <h6> Current score: <b class="score">0</b></h6>

        <div class="">
            <form method="GET" class"add-word">
                <input name="word" class="word" autofocus/>
                <button id="boggle">boggle!</button>
            </form>

            <p class="msg">
                <!-- as users input words, different messages will appear here-->
            </p>
            <ul class="words">
                <!-- as users inputs valid words, they will show up here-->
            </ul>
        </div>
    </div>
</div>

{% endblock %}